@import url('https://fonts.googleapis.com/css?family=Montserrat:400');

#clock {
    text-align: left;
    font-family: 'Montserrat', 'Arial';
    font-size: 5vh;
    color: white;
    padding: 0;
    padding-left: 0.5vw;
    padding-top: 86vh;
    margin: 0;
    user-select: none;
    animation: fadeIn 2s;
}

body {
    background-color: black;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}